@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The .NET Atlas</h1>
    <p class="lead">This application is the midterm exam in W2019 for COMP2084.</p>
    <p>CSS Theme from <a href="https://bootswatch.com/3/simplex/">Bootswatch</a>.</p>
    <p>Population data from <a href="https://wikipedia.org">Wikipedia</a>.</p>
</div>

